*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.mfg-date{
    border-radius: 10px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 80%;
}

.date{
    font-size: 20px;
}

.month{
    font-size: 10px;
}

.year{
    font-size: 10px;
}