*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    border: 1px solid black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arena-region{
    height: 70%;
    width: 60%;
    border: 5px solid #1ba000;
    background-color: #6de769;
}

.score{
    margin-left: 53%;
    font-size: 2rem;
    font-weight: bolder;
    color: black;
}

.btn{
    all: unset;
    background-color: rgb(35, 241, 35);
    color: white;
    font-size: 20px;
    padding: 15px 60px;
    margin: 20px 0px;
    border-radius: 10px;
    border: 2px solid green;
}

.btn:hover{
    background-color: rgb(11, 196, 11);
    border: 3px solid green;
}