h1{
    text-align: center;
    /* font-weight: lighter; */
    /* border: solid black; */
    /* width: 50%; */
}
h2{
    
    text-decoration: red wavy line-through;
    /* text-decoration-color: red; */
}
h3{
    text-decoration: red double underline;
    text-align: right;
    /* font-weight: lighter; */
}
p{
    text-align: justify;
    
}